body {
    background-color: azure;
    font-size: 20px;
}

h1 {
    font-style: italic;
    color: navy;
}

h2 {
    font-style: italic;
    color: navy;
}

footer {
    border: 1px dashed black;
    font-size: 20px;
    display: block;
    background-color: lavender;
}

header {
    border: 1px dashed black;
    font-size: 20px;
    display: block;
    background-color: lavender;
}
